# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [3]:
def lesser_of_two_evens(a,b):
    return min(a,b)

In [4]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(2,5)

2

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [8]:
def animal_crackers(text):
    a,b = text.split()
    if a[0]==b[0]:
        return True
    else:
        return False

In [9]:
# Check
animal_crackers('Levelheaded Llama')

True

In [10]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [11]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [12]:
# Check
makes_twenty(20,10)

True

In [13]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [16]:
def old_macdonald(name):
    new = name[:3].capitalize()+name[3:].capitalize()
    return new

In [17]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [18]:
def master_yoda(text):
    return " ".join(reversed(text.split()))

In [19]:
# Check
master_yoda('I am home')

'home am I'

In [20]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [34]:
def almost_there(n):
    stat1 = n in list(range(90,111))
    stat2 = n in list(range(190,211))
    print(stat1,stat2)
    return stat1 or stat2

In [35]:
list(range(90,101,1))

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [36]:
# Check
almost_there(104)

True False

True

In [37]:
# Check
almost_there(150)

False False

False

In [38]:
# Check
almost_there(209)

False True

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [42]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i]==nums[i+1]==3:
            return True
    return False

In [43]:
# Check
has_33([1, 3, 3])

True

In [44]:
# Check
has_33([1, 3, 1, 3])

False

In [45]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [48]:
def paper_doll(text):
    return ''.join([ch*3 for ch in text])

In [49]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [50]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [54]:
def blackjack(a,b,c):
    sum = a+b+c
    if sum<=21:
        return sum
    elif (sum>21 and (a==11 or b==11 or c==11)):
        return sum-10
    else:
        return "BUST"

In [55]:
# Check
blackjack(5,6,7)

18

In [56]:
# Check
blackjack(9,9,9)

'BUST'

In [57]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [58]:
def summer_69(arr):
    sum = 0
    flag=True
    for num in ar:
        while flag:

SyntaxError: invalid syntax (<ipython-input-58-a7756444e13a>, line 3)

In [ ]:
# Check
summer_69([1, 3, 5])

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [63]:
def spy_game(nums):
    arr = [0,0,7,'a']
    for num in nums:
        if num==arr[0]:
            arr.pop(0)
    return len(arr)==1

In [64]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [65]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [66]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [70]:
def count_primes(num):
    primes = [2]
    x = 3
    if num<2:
        return 0
    while x<=num:
        for y in primes:
            if x%y == 0:  
                x+=2  # 只对奇数操作
                break
        else:
            primes.append(x)
            x+=2
    print(primes)
    return len(primes)

In [76]:
def count_primes2(num):
    primes = [2]
    x = 3
    while x<=num:
        for y in primes:
            if x%y==0:
                x+=2
                break
        else:
            primes.append(x)
            x+=2
    print(primes)

In [77]:
# Check
count_primes2(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!